<header class="site-header" >
  <div on="tap:sidebar.toggle"
    class="caps m2">
    <p style="font-size:20px;margin:5px">☰</p>
  </div>

  <div class="page-links">
    • <a class="page-link" on="tap:SlideIn.start">Share </a>
    • <a class="page-link" href="{{ site.baseurl }}/">Index</a>
    {% for my_page in site.pages %}
      {% if my_page.title %}
      • <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
      {% endif %}
    {% endfor %}
  </div>
</header>
