<div class="sharebar">
        <div>
          <amp-social-share class="rounded" type="email" width="36" height="36"></amp-social-share>
          <amp-social-share class="rounded" type="facebook" data-param-app_id="254325784911610" width="36" height="36"></amp-social-share>
          <amp-social-share class="rounded" type="gplus" width="36" height="36"></amp-social-share>
          <amp-social-share class="rounded" type="linkedin" width="36" height="36"></amp-social-share>
          <amp-social-share class="rounded" type="pinterest" width="36" height="36"></amp-social-share>
          <amp-social-share class="rounded" type="tumblr" width="36" height="36"></amp-social-share>
          <amp-social-share class="rounded" type="twitter" width="36" height="36"></amp-social-share>
          <amp-social-share class="rounded" type="whatsapp" width="36" height="36"></amp-social-share>
        </div>
    </div>