<amp-sidebar id="sidebar"
layout="nodisplay"
side="left" on="sidebarClose:AMP.setState({blur_layout: ''});sidebarOpen:AMP.setState({blur_layout: 'blur_layout'})">
<amp-img class="amp-close-image"
  src="/assets/images/ic_close_black_18dp_2x.png"
  width="20"
  height="20"
  alt="close sidebar"
  on="tap:sidebar.close"
  role="button"
  tabindex="0"></amp-img>
<ul>
  <li>
    <a href="/">Index</a>
  </li>
  
{% assign postsChapterOrdered = (site.posts | sort: 'chapter') %}
{% for post in postsChapterOrdered %}
        <li class="post-title" itemprop="name">
            <a href="{{ site.baseurl }}{{ post.url }}" itemprop="url">
                {{ post.title }}
            </a>
        </li>
{% endfor %}
</ul>
</amp-sidebar>